.about-container {
    padding: 1rem;
    min-width: 700px;
    max-height: 800px;
    max-width: 700px;
    background-color: rgb(199, 199, 199); 
    color: #0f2027;
}

.about-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

.about-heading {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.tab-button {
    font-size: 17px;
    color: rgb(199, 199, 199);
}

.paragraph {
    text-indent: 20px;
}

.paragraph, .bullet-list {
    line-height: 1.6;
    font-size: 16px;
    padding: 1rem;
}

.toggle-summary {
    margin: 1rem;
    padding: 1rem;
    background-color: #3c6e84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px dashed #0f2027;
    margin-bottom: 10px;
}