.project-heading {
    display: flex ;
    justify-content: left;
    align-items: center;
    margin-right: 2rem;
}

.project-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}