html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #0f2027;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(199, 199, 199); 
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0);
}

.content-section {
  margin-top: 15vh;
  margin-bottom: 10vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#name-logo {
  font-size: 36px;
  color: #0f2027;
  letter-spacing: 4px;
  margin: 1rem;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#nav-btn-wrapper {
  margin: 1rem;
}

.nav-btn {
  border: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #3c6e84;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#contrast {
  background-color: #e38d6b;
  color: #fff;
}

#contrast:hover {
  background-color: #d37d5b;
}

#standard {
  background-color: #3c6e84;
  color: #fff;
}

#standard:hover {
  background-color: #8aa4ad;
}

.title-underline {
  width: 100%;
  height: 2px;
  background-color: #0f2027;
  margin: 10px auto;
}

.tabs {
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color: #0f2027;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #f0f0f0;
}

.tab-button.active {
  border-bottom: 2px solid #0f2027;
}
